
@{
    ViewBag.Title = "Trang chủ Admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card" style="margin:0 20px 30px 20px">
        <img src="~/Content/assets/images/first_admin.jpg"/>
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
