
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">


<style>
    .news_section_container {
        margin-top: 180px;
    }

    .row-item-new {
        margin-bottom: 20px;
    }

    .title-news {
        font-size: 24px;
        border-bottom: 1px solid;
        padding: 15px 0;
        margin-bottom: 25px;
    }

    .img-box img {
        max-width: 100%;
        max-height: 100%;
    }
</style>
<div class="container news_section_container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title-news">Giới thiệu</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <span>
                    Jeans Shop là một thương hiệu thời trang denim cao cấp của Công ty TNHH Long Nguyen Jean.
                    Thương hiệu Jeans Shop ra đời với mục tiêu cung cấp dòng sản phẩm denim chất lượng cao với những thiết kế sáng tạo, độc đáo.
                </span>
            </div>
            <br />
            <img src="~/Content/assets/images/introduce_shop_1.jpg" style="margin-left:20%;" />
           
            <div>
                <span>
                    <br />
                    Để luôn đáp ứng được nhu cầu của những khách hàng khó tính nhất, tôn chỉ về thiết kế của Jeans Shop chính là sự tự do và phóng khoáng,
                    với mong muốn mang đến cho người mặc những sản phẩm chất lượng, phù hợp và quan trọng hơn cả là cá tính của chính mình.
                    Mỗi sản phẩm của Jeans Shop như là một nhịp cầu đưa giới trẻ hiện đại trở về văn hóa Đông Dương.
                </span>
            </div>
            <br />
            <img src="~/Content/assets/images/introduce_shop2.jpg" style="margin-left:20%;" />
            <div>
                <span>
                    <br />
                    Với cửa hàng tọa lạc tại địa chỉ Số 174 Tam Trinh, P.Yên Sở, Q.Hoàng Mai, Hà Nội, Jeans Shop đã trở thành địa chỉ tin cậy mà mọi khách hàng
                    tìm đến khi có nhu cầu mua sắm quần áo Jeans. Đến với Jeans Shop, khách hàng không chỉ được trải nghiệm không gian mua sắm hiện đại mà còn
                    nhận được sự tư vấn tận tình của đội ngũ nhân viên tại đây không chỉ quần áo Jeans, các bạn còn tìm thấy các sản phẩm denim khác như áo khoác Jeans,
                    váy Jeans, đầm Jeans hay thậm chí là cả những chiếc áo thun vô cùng cá tính tại Jeans Shop.
                    Jeans Shop luôn áp dụng các công nghệ tiên tiến trên thế giới vào sản phẩm của mình như: laser, wash công nghệ cao, nhuộm khô và ozone...
                    Nguồn vải nhập cao cấp từ các thị trường Nhật, Thổ Nhĩ Kỳ, Hong Kong, Thái Lan,…
                    Jeans Shop đang trở thành thương hiệu thời trang denim được yêu thích nhất trên thị trường.
                    Jeans Shop cam kết không ngừng nỗ lực sáng tạo và vươn xa hơn để mang đến những sản phẩm denim chất lượng cho người tiêu dùng Việt.
                </span>
            </div>
        </div>
    </div>

</div>

